#navbar{
    background-color: rgba(0, 0, 0, 253);
}

#logo-mt{
    width: 4%;
margin-right: 20px;
}

#div-principal{
    background-image: url(./Imagenes-PWeb/fondo-negro.jpg);
    background-repeat: no-repeat;
    background-size: 130%;
    
}


/*#buakaw-hidden1 {
    visibility: hidden;
    
} */


.carousel-inner {

    height: 100%;
    padding-bottom: 0px;
    
    
}

/* .carousel-inner img{
    max-height: 700px;

} 
var(--bs-cyan);
*/


 #div-secundario {
    background-color: rgba(0, 0, 0, 0.9);
    
    
    
    
}

.zoom:hover {
    transform: scale(1.03)
}

.zoom {
    transition: all 0.2s ease;
    cursor: pointer;
}

#wpp-icon:hover{
    transform: scale(1.03);
}
