#titulo-principal{color: orange;
text-align: center;
border: double red;
width: 250px;

}
/*
*
*
*{background-image:url(url);}
{background-color: black;}
*/

/*body{background-image:url(./Imagenes-PWeb/rick_astley.jpg);}*/

*{color: white;}

.container{background-color: black;}

*body{background-color: blueviolet;}




