#titulo-principal{color: orange;
text-align: center;
border: double red;
width: 250px;

}
/*
*
*
*{background-image:url(url);}
{background-color: black;}
*/

/*body{background-image:url(./Imagenes-PWeb/rick_astley.jpg);}*/

*{color: white;}


.container-fluid{background-color: bisque;
}


#container-id{background-color: black;}





#logo-header{
    width: 10%;
    margin-right: 20px;
}


#row1{background-color: blueviolet;
    margin: 0px;
}
